<%- include('partials/header') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <br>
            <br>
            <br>
            <br>
         
            <h1><bold>Welcome to <img src="../public/img/logo6.png"></bold></h1>
            <h2><bold>Your Gateway to Easy Shopping</bold></h2>
        </div>
    </div>
</div>

<%- include('partials/footer') %>